<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar_Reclutadores</title>
</head>
<body>
    {% extends 'Mi_APP/base.html' %}
    {% block cuerpo %}
    <br>
    <ul>
        {% for elemento in reclutadores %}
            <li>
                Nombre: {{elemento.nombre}}, 
                Apellido: {{elemento.apellido}}, 
                DNI: {{elemento.DNI}}
            </li>
        {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>